{% extends "base.jinja" %}
{% block content %}

<h3>Instructors</h3>
<p>{{instructors[0]}} {{instructors[1]}}</p>
<h3>Students</h3>
{% for i in students %}
<p>{{i.title()}}</p>
{% endfor %}

{% endblock %}
